; cache = "C:/Users/$env:UserName/AppData/Local/npm-cache"
cache = "D:/nodejs/node_cache"
editor = "D:/MicrosoftVSCode/Code.exe" 
; globalconfig = "C:/Users/$env:UserName/AppData/Roaming/npm/etc/npmrc" 
globalconfig = "C:/Users/$env:UserName/.npmrc" 
; prefix = "D:/nodejs" ; overridden by builtin
userconfig = "C:/Users/$env:UserName/.npmrc" 
; "builtin" config from C:\Users\$env:UserName\AppData\Roaming\npm\node_modules\npm\npmrc
; prefix = "C:/Users/$env:UserName/AppData/Roaming/npm" 
prefix = "D:/nodejs/node_global"

; pnpm config
store-dir = "D:/nodejs/pnpm_store"
modules-dir = "D:/nodejs/node_modules"
global-dir = "D:/nodejs/pnpm_global"
state-dir = "D:/nodejs/pnpm_state"
cache-dir = "D:/nodejs/pnpm_cache"
